*{
    margin: 0;
    padding: 0;
}
body {
display: grid;
place-items: center;
overflow-x: hidden;
background : linear-gradient( #020353, #110231, rgb(11, 11, 80));

}
h1 {
    margin: 10px;
    color: rgb(250, 208, 19);
}
ul {
    display: grid;
    grid-template-columns: 1fr;
    
}
.divv {
    display: flex;
}
li {
    display: grid;
    list-style: none;
    place-items: center;
    font-size: 0px;
}
.box {
    margin: 5px;
    width: 75px;
    height: 75px;
}
#tog {
    margin: 10px 0 ;
    color: aliceblue;
}
.allimg {
    width: 80px;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.allpawn {
    transform: scale(.7);
}
.authcont {
    width: 100vw;
}
.author {
    float: right;
    margin-right: 50px;
}
@media (max-width: 650px) {
    #tog {
        margin-bottom: 70px;
    }
    .box {
        height: 11vw;
        width: 11vw;
    }
    .allimg {
        width: 40px;
        
       
    }
}
.follow-btn {
    background-color: rgb(10, 4, 37);
    color: rgb(247, 235, 235);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    height: 90px;

}
.follow-btn a {
    text-decoration: none;
    color: #a09e1f;
    font-weight: bold;
}
.follow-btn:hover {
    background-color: rgb(9, 6, 19);
}