body {
    background:radial-gradient( #012441, #031f4b, #3b5d6e) ; 
    background-size: cover;
    background-repeat: no-repeat;
}

#mainDiv {
    margin: auto;
    width: 400px;
    background:linear-gradient( #012441, #031f4b, #3b5d6e) ; 
    text-align: center;
   border-radius: 20px;
    color: rgb(214, 219, 223);
    margin-bottom: 150px;
    margin-top: 40px;
    box-shadow: #0c0c0a 0 10px 10px;
   
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: #07534c 0 10px 10px;

}
button:hover {
    box-shadow: 0px 5px 10px white;
}
h1 {
    text-shadow: 1px 1px 0px;
    
}

#oneDiv {
    margin-top: 30px;
}
img {
    height: 200px;
    width: 200px;
}
#cityName {
    margin: auto;
}