body {
   
    background: linear-gradient(135deg, #003366, #0066cc, rgb(149, 95, 186));  
    background-repeat: no-repeat;
    background-size: cover;
    

}





#mainDiv {
    display:inline-flex;
    text-align: center;
    background-position: center;
    width: 100%;
    padding-top: 20px;
}

@keyframes fadeEffect {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

#imgBack {
    width:500px;
    height: 100vh;
    background-image: url(images/77b9b367b4b9dfc01553e56ea3e20eac.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 30px 5px 70px rgb(253, 231, 179);
    border-top-left-radius: 100px ;
    border-top-right-radius: 500px ;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:50% ;
    border-bottom-style:groove;
    border-color: rgb(0, 0, 0);

    animation: fadeEffect 3s infinite ease-in-out;

}


#imgBack img {
    width: 750px;
    height: 750px;
   
}

p {
    color: rgb(239, 245, 245);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
}

#logIn {
    width: 970px;
    margin-top: 100px;
    border-radius: 50px;
    align-items: center;
    
}

input {
    padding: 10px 20px;
    width: 80%;
    text-align: center;
    border: none;
    font-size: 22px;
    box-shadow: 2px 5px 0px rgb(16, 13, 13);
    background-color: rgba(26, 20, 20, 0.105);
}

input:hover {
    cursor: pointer;
    background-color: #0a0a0a65;
}

#logIn h1 {
    color: rgb(255, 255, 255);
    font-family: fantasy;
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    font-size: 40px;
}
#pic3 {
    display: none;
}
button {
    padding: 20px 40px;
    background-color: rgb(165, 22, 72) ;
    border-radius: 20px;
    font-weight: 900;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(141, 71, 114, 0.847);
}

button:hover {
   cursor: pointer;
   background-color: rgb(78, 4, 4);
}




#Cr {
    display:inline-flex;
        justify-content: space-between;
        text-align: center;
        margin-top: -20px;
    }
    
#umg1 {
    height: 100px;
    width: 100px;
    
    margin-top:  10px;
    
    }

#img2 {
    display: none;
}

@media (max-width: 620px) {

    body{
        background: linear-gradient(135deg, #ffffff, rgba(124, 124, 124, 0.267) 40%, #d8d5d5 100%);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    p {
        color: rgb(2, 48, 45);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        
    }
    
    button {
        padding: 20px 40px;
        background-color: rgb(7, 76, 87) ;
        border-radius: 20px;
        font-weight: 900;
        color: white;
        border: none;
        box-shadow: 0 0 20px rgba(141, 71, 114, 0.847);
        margin-left: 80px;
    }
    
    button:hover {
       cursor: pointer;
       background-color: rgb(78, 4, 4);
    }
    #imgBack {
        display: none;
    }
    
    
    #baccor {
        background: linear-gradient(rgba(236, 240, 241, 0), rgba(139, 173, 199, 0.61), rgba(170, 203, 228, 0.386), rgb(164, 165, 166) ,rgb(12, 27, 27), rgb(31, 118, 124));
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        margin-left: 50px;
        margin-right: 50px;
        height: 40vh;
        
        justify-content: center;
    }
    #Pass {
        display: inline-flex;
        align-items: center;
    }
    #pic3 {
        display: block;
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
    #Cr {
        display: block;
        text-align: center;  
        
    }
    
    #umg1 {
        display: none;
      
    }
    
    #img2 {
        margin: auto;
       display: block;
        height: 200px;
        width: 200px;
        
    }
    #baccor img {
        height: 200px;
        width: 200px;
        margin-bottom: 30px;
        padding-top: 54px;
    }
    
    #mainDiv {
        
        margin: 20px;
        width: 80%;
        background-color: rgba(18, 12, 12, 0);
        align-items: center;
        background-position: center;
        text-align: center;
        padding: 20px;
        padding-top: 0;
        border-radius: 30px;
    }
    
    #logIn h1  {
        color: #0a1721;
        text-shadow: 2px 5px 7px rgb(110, 110, 110);
    }
    
    input {
        margin: auto;
        padding: 10px 20px;
        width: 60%;
        text-align: center;
        border: none;
        border-radius: 0px;
        font-size: 22px;
        box-shadow: 2px 5px 10px rgba(255, 253, 253, 0.523);
        background: linear-gradient(hsla(301, 32%, 36%, 0), rgba(67, 2, 45, 0.041), rgba(0, 0, 0, 0.388)) ;
        height: 15px;
    }
    
   #logIn {
    margin-top: 0;
    padding-top: 0;
   }
    
   

}


input::placeholder {
    color: rgba(0, 0, 0, 0.418); 
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


