#mainDiv {
    display: none;
}

.specialHeading {
    font-size: 60px;
    font-weight: 900;
    color: #5e364b;
    text-shadow: 0 10px 10px #854F6C;
    letter-spacing: -1px;
}

html {
    --main-color:rgba(236, 78, 104, 0.934) ;
    --secondary-color: rgba(212, 126, 145, 0.559);
    height: 1000vh;
    scroll-behavior: smooth;
    
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html ,body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background : linear-gradient( #190019, #2B124C, #522B5B, #854F6C, #DFB6B2);
    height: 100%;
    width: 100%;
    padding: 0;
    

}

h1 {
    font-family: 'Lobster', cursive;
}

h3 {
    color: white;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start */

#header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
   
   border: none;
   height: 100px;
 
}



#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -20px;
}
 #header .iconDiv {
    width: 60px;
    direction: rtl;
    
    
 }

 #header .menuLine{
    height: 1.7px;
    background-color: white;
    margin-bottom: 5px;
 }

 @media (max-width: 1106px) {
    #header .menuLine {
        background-color: var(--main-color);
    }
   
    }

 #header #centerLine {
    width: 50%;
    transition: 0.3s;
 }

 #header .menuDiv:hover #centerLine {
    width: 100%;
 }

 #header .container .menuDiv {
    position: relative;
 }
 
 #header .container .menuDiv ul {
    width: 200px;
    background-color: rgb(250, 245, 245);
    list-style: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    position:absolute;
    box-shadow: 0 0 10px grey;
    display: none;
    right: -8px;
    top: 30px;
    
   
 }

 #header .container .menuDiv ul .divider {
    background-color: rgb(151, 150, 150);
    height: 0.5px;
 }

 #header .container .menuDiv ul li {
    text-align: center;
    padding: 10px 35px;
    color: rgb(57, 7, 7);
    transition: 0.3s;
   position: relative;
   z-index: 1;
 }

 #header .container .menuDiv ul::before{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    top: -20px;
    right: 25px;

 }

 #header .container .menuDiv:hover ul {
    display: block;
 }

 #header .container .menuDiv ul li:hover {
    padding-left: 45px;
}

      

 /* end header */

/*start landing*/

#landingDiv {
    background-image: url(images/lailalandinf.png);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

@media (max-width: 1106px) {
    #landingDiv {
        background-image: url(images/power.png);
        
    }
   #header {
    background-color:rgba(0, 0, 0, 0.025);
   }
    }

#landingDiv .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#landingDiv .container .centerDiv h1 {
   font-size: 70px;
   color: rgb(248, 243, 243);
   font-family:'Times New Roman', Times, serif;
   position: relative;
   text-shadow: 0 9px 9px #1b1a1b;
   font-weight: 900;

}

#laila {
    font-size: 15px;
    color: #a29ca0;
    margin-top: 10px;
    margin-left: 150px;
}

#landingDiv .container .centerDiv p {
    font-size: 25px;
    color: rgb(241, 229, 229);
    margin: 40px 0;
    font-weight: 600;
}

#landingDiv .container .centerDiv button{
    padding: 20px 40px;
    background-color: var(--secondary-color) ;
    border-radius: 20px;
    font-weight: 900;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(141, 71, 114, 0.847);
   
    
}

@media (max-width: 1106px) {
    #landingDiv {
        background-image: url(images/power.png);
        
    }
    #landingDiv .container .centerDiv button{
        background-color: var(--main-color);
    }
    #header .container img {
        width: 100px;
        height: 100px;
      
        z-index: 1;
        margin-top: -10px;
       
    }
    }
#landingDiv .container .centerDiv button:hover{
    cursor: pointer;
    background-color: rgba(198, 17, 17, 0.79);
    
    border-radius: 20px;
    
    box-shadow: 0 0 60px rgb(180, 7, 7);
}

#landingDiv .container .centerDiv {
    text-align: center;
    
    position: relative;
}

#landingDiv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.3;
}

@media (max-width: 1106px) {
    #landingDiv::before {
       opacity: 0.5;
        
    }

    }

/*end landing*/

#quantum {
    
    position: fixed; /* Keep it fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it's on top */
}

/*start services*/

#servicesDiv {
    padding: 100px 0;
    background : linear-gradient( #190019, #2B124C, #522B5B, #854F6C, #DFB6B2);
    
}
#servicesDiv .container .service img {
    height: 200px;
}
#servicesDiv .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#servicesDiv .container .service:hover {
    box-shadow: 0 0 10px rgba(176, 157, 231, 0.651);
    border-radius: 30px;
}

#servicesDiv .container .service {
    width: 300px;
    text-align: center;
    margin: 10px;
}

#servicesDiv .container .service h3 {
    font-size: 35px;
    margin: 20px 0;
    color: rgb(246, 240, 244);
    text-shadow: 0 5px 5px #101014;
    font-family: fantasy;
    font-weight: 800;
    letter-spacing: 4px;
}

@media (max-width: 680px) {
    #servicesDiv .container .service {
        margin-bottom: 50px;
    }
}

#servicesDiv .container .service p {
    font-size: 25px;
    color: #e5e2e4;
    font-weight: 500;
    
}


/*end services*/

/* Start storiess*/

#storiesDiv {
    padding: 100px 0;
    background : linear-gradient( #DFB6B2, #854F6C, #522B5B, #2B124C, #190019);

}

#storiesDiv .container {
    text-align: center;
}



#storiesDiv .container > p {
    font-size:30px ;
    font-weight: 550;
    margin: 40px 0;
    text-align: center;
}

#storiesDiv .container .content .cards .card {
    width: 230px;
    box-shadow: 0 0 10px #0d0101 ;
    margin: 20px;
    border-radius: 20px;
}
#storiesDiv .container .content .cards .card:hover{
    box-shadow: 0 0 20px rgb(246, 246, 248);
    border-radius: 30px;
    .cardDetails {
    border-radius: 20px;
}
}
    

#storiesDiv .container .content .cards .card .cardImg {
    padding: 10px;
    border-radius: 20px 20px 0 0 ;
}

#storiesDiv .container .content .cards .card .cardImg img {
    width: 50%;
    border-radius: 20px;
}
#storiesDiv .container .content .cards .card1 {
    width: 230px;
    margin: 20px;
    border-radius: 20px;
}

#storiesDiv .container .content .cards .card1 .cardImg1 img {
    width: 100%;
    border-radius: 20px;
    
}

#storiesDiv .container .content .cardImg1:hover {
    box-shadow: 0px 0px 20px #565452;
    border-radius: 50px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background: linear-gradient(#0f021f7a, rgba(11, 1, 55, 0.493)) ;

} 

#storiesDiv  .container .content {
    display: flex;
}

#storiesDiv .container .content .cards{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

#storiesDiv .cardDetails {
    background: linear-gradient(rgba(255, 255, 255, 0.422), rgba(99, 96, 96, 0.386), rgba(255, 255, 255, 0.5));
    border-radius: 10px;
    color: #f2edf2;
}

#storiesDiv .cardDetails p {
    margin: 10px 0;
    color: rgb(233, 230, 230);

}

#storiesDiv .cards a {
    margin: 10px 0;
    color: rgb(27, 24, 24);
    text-decoration: none;
}

#storiesDiv .imgDiv{
    display: flex;
    align-items: center;
    position: relative;
    height: 70vh;
}

#storiesDiv .imgDiv img {
    width: 320px;
    position: relative;
    
}

@media ( max-width: 1200px) {
    #storiesDiv .imgDiv {
        display: none;
    }
}

@media (max-width: 579px) {
    #storiesDiv .cards .card {
        width: 300px;
    }
}

@media (max-width: 500px) {
    #storiesDiv .container > p {
        font-size: 25px;
    }
}

#storiesDiv .container .imgDiv::before {
    content: "";
    width: 100px;
    height: 60%;
    background-color: #41124c;
    position: absolute;
    right: 30px;
    top: 20%;
    
}


/* End storiess*/
 /*start Contact */
#contactDiv {
    background : linear-gradient( #190019, #2B124C, #522B5B, #854F6C, #DFB6B2);

}

#contactDiv .container {
    padding: 100px 0;
    text-align: center;
    
}
.special {
   color: #e4d9de;
    box-shadow:0 0 10px #817f8072;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0 0px 10px #757474;
    letter-spacing: -1px;
    border-radius: 30px;
}
#contactDiv .container .contact {
    display: flex;
    margin-top: 50px;
    align-items: center;
}
#contactDiv .container .contact .details {
    margin-right: 50px;
}
#contactDiv .container .contact .details h3 {
    font-size: 35px;
    color: aliceblue;
}

#contactDiv .container .contact .details p {
    font-size: 22px;
    color: #aeaeae;
    margin-top: 20px;
    margin-bottom: 50px;
}

#contactDiv .container .contact .form input, textarea {
    background-color: #f3f3f3;
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline-color: var(--secondary-color);
}
.container .contact .form textarea {
    resize: none;
}

.container .contact .form .firstRow {
    display: flex;
    justify-content: space-between;
}

.container .contact .form .firstRow input:nth-child(2) {
    margin-left: 10px;
}

.form button {
    width: 80%;
    padding: 20px;
    background: var(--main-color);
    border: none;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}
.form button:hover{
    cursor: pointer;
    background-color: #601326;
    border-radius: 20px;
    
    box-shadow: 0 0 60px rgb(180, 7, 7);
}
@media (max-width: 767px) {
    .container .contact  {
        flex-direction: column;
    }
    .container .contact .form {
        margin: 10px;
    }
}

/* End Contact */

/* Start Footer */

.footer {
    background-color:rgb(43, 4, 4);
    color: white;
    padding: 5px;
    font-size: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container .socialIcons {
    display: flex;
}

.footer .container .socialIcons .iconDiv {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 30px;
}

@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .container p {
        margin-bottom: 20px;
        text-align: center;
    }
}

/* End Footer */
#Zai  {
display: flex;
justify-content: center;
align-items: center;

}
#Zai img {
    height: 200px;
    width: 200px;
}
@media (max-width:900px) {
    #Zai img {
        height: 100px;
        width: 100px;
    }
}